.header {
    margin: 0;
    border-bottom: solid 1px rgba(84, 84, 84, 0.7);
    padding-bottom: 41px;
    width: 100%;
}

@media all and (max-width:950px) {
    .header {
        margin: 0 40px;
        width: 95%;
    }
}

@media all and (max-width: 590px) {
    .header {
        margin: 0;
        width: 100%;
        padding-bottom: 0;
    }
}