.header {
    margin: 0;
    border-bottom: 1px solid #545454;
    min-height: 74px;
    width: 100%;
}

@media all and (max-width:950px) {
    .header {
        margin: 0 40px;
        width: 95%;
    }
}

@media all and (max-width: 590px) {
    .header {
        margin: 0;
        width: 100%;
    }
}