.popup__close {
    width: 32px;
    height: 32px;
    background: transparent center url("../../../images/close_icon.svg");
    background-size: auto;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup__close:hover {
    opacity: 0.5;
    cursor: pointer;
}