.profile__info {
    display: flex;
    flex-direction: column;
}

@media all and (max-width: 950px) {
    .profile__info {
        padding: 25px 0 40px;
        justify-content: center;
    }
}

@media all and (max-width: 767px) {
    .profile__info {
        max-width: 320px;
        padding: 22px 0 36px;
    }
}