.elements__heart {
    cursor: pointer;
    align-self: flex-end;
    background-image: url(../../../images/heart.svg);
    transition: all .3s ease-in-out;
    width: 22px;
    height: 19px;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
    border: none;
    background-color: transparent;
}

.elements__heart:hover {
    opacity: 0.5;
}