.popup__title {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0;
    padding: 34px 36px 24px;
}

@media all and (max-width: 767px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        max-width: 238px;
        align-self: center;
        padding: 25px 41px 45px;
    }
}