.elements__list {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    gap: 17px;
    list-style: none;
    padding: 0;
}

@media all and (max-width: 950px) {
    .elements__list {
        margin: auto;
        max-width: 590px;
    }
}