.page__container {
    margin: 45px auto 0;
    padding: 0;
    max-width: 880px;
    min-width: 320px;
    width: 100%;
}

@media all and (max-width: 767px) {
    .page__container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 0;
    }
}